///Primary Colors
$text-primary: #13182c;
$text-link: #0095ff;
$text-button: #f7fbf9;

//Secondary Colors
$text-table-header: #333;
$text-placeholder: #5c667e;
$outline: #bdc5d5;
$divider: #bdc5d5;
$table-sort: #bdc5d5;

//Background Colors
$header-background: #232940;
$button-hover: #232940;
$page-background: #f7fbf9;
$table-header-background: #f7fbf9;
$form-background: #f7fbf9;
$button-background: #0095ff;

//Supporting Colors
$label-in-stock: #15b463;
$label-in-stock-background: rgba($label-in-stock, 0.07);
$label-out-of-stock: #c94515;
$label-out-of-stock-background: rgba($label-out-of-stock, 0.07);
$list-element-hover: rgba(#2e66e5, 0.07);
