@use "/src/styles/partials.scss" as *;
@use "/src/styles/colors.scss" as *;


.positioning {
  background-color: white;
  // #d3d3d3;
  margin: 0 $mobile-indent;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  transform: translateY(-3rem);
  @include tablet {
    margin: 0 $tablet-indent;
    transform: translateY(-5.5rem);
  }
  @include desktop {
    margin: 0 $desktop-indent;
  }
}
